@import url('@/css/icon.css');
@import url('@/css/responsive.css');
*{
    margin: 0;
    padding: 0;
    font-family: Opensans;
}

@font-face {
    font-family: Opensans;
    src: url('@/assets/fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: Opensans-semibold;
    src: url('@/assets/fonts/Open_Sans/static/OpenSans/OpenSans-SemiBold.ttf');
}

@font-face {
    font-family: Opensans-bold;
    src: url('@/assets/fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf');
}

@font-face {
    font-family: Bubble-gum;
    src: url('@/assets/fonts/Bubblegum.ttf');
}
@font-face {
    font-family: "FontAwesome";
    src: url("https://use.fontawesome.com/releases/v5.15.2/webfonts/fa-brands-400.eot"),
            url("https://use.fontawesome.com/releases/v5.15.2/webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"),
            url("https://use.fontawesome.com/releases/v5.15.2/webfonts/fa-brands-400.woff2") format("woff2"),
            url("https://use.fontawesome.com/releases/v5.15.2/webfonts/fa-brands-400.woff") format("woff"),
            url("https://use.fontawesome.com/releases/v5.15.2/webfonts/fa-brands-400.ttf") format("truetype"),
            url("https://use.fontawesome.com/releases/v5.15.2/webfonts/fa-brands-400.svg#fontawesome") format("svg");
    }
    
    @font-face {
    font-family: "FontAwesome";
    src: url("https://use.fontawesome.com/releases/v5.15.2/webfonts/fa-solid-900.eot"),
            url("https://use.fontawesome.com/releases/v5.15.2/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"),
            url("https://use.fontawesome.com/releases/v5.15.2/webfonts/fa-solid-900.woff2") format("woff2"),
            url("https://use.fontawesome.com/releases/v5.15.2/webfonts/fa-solid-900.woff") format("woff"),
            url("https://use.fontawesome.com/releases/v5.15.2/webfonts/fa-solid-900.ttf") format("truetype"),
            url("https://use.fontawesome.com/releases/v5.15.2/webfonts/fa-solid-900.svg#fontawesome") format("svg");
    }
    
    @font-face {
    font-family: "FontAwesome";
    src: url("https://use.fontawesome.com/releases/v5.15.2/webfonts/fa-regular-400.eot"),
            url("https://use.fontawesome.com/releases/v5.15.2/webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"),
            url("https://use.fontawesome.com/releases/v5.15.2/webfonts/fa-regular-400.woff2") format("woff2"),
            url("https://use.fontawesome.com/releases/v5.15.2/webfonts/fa-regular-400.woff") format("woff"),
            url("https://use.fontawesome.com/releases/v5.15.2/webfonts/fa-regular-400.ttf") format("truetype"),
            url("https://use.fontawesome.com/releases/v5.15.2/webfonts/fa-regular-400.svg#fontawesome") format("svg");
    unicode-range: U+F004-F005,U+F007,U+F017,U+F022,U+F024,U+F02E,U+F03E,U+F044,U+F057-F059,U+F06E,U+F070,U+F075,U+F07B-F07C,U+F080,U+F086,U+F089,U+F094,U+F09D,U+F0A0,U+F0A4-F0A7,U+F0C5,U+F0C7-F0C8,U+F0E0,U+F0EB,U+F0F3,U+F0F8,U+F0FE,U+F111,U+F118-F11A,U+F11C,U+F133,U+F144,U+F146,U+F14A,U+F14D-F14E,U+F150-F152,U+F15B-F15C,U+F164-F165,U+F185-F186,U+F191-F192,U+F1AD,U+F1C1-F1C9,U+F1CD,U+F1D8,U+F1E3,U+F1EA,U+F1F6,U+F1F9,U+F20A,U+F247-F249,U+F24D,U+F254-F25B,U+F25D,U+F267,U+F271-F274,U+F279,U+F28B,U+F28D,U+F2B5-F2B6,U+F2B9,U+F2BB,U+F2BD,U+F2C1-F2C2,U+F2D0,U+F2D2,U+F2DC,U+F2ED,U+F328,U+F358-F35B,U+F3A5,U+F3D1,U+F410,U+F4AD;
    }

.bubblegum{
    font-family: Bubble-gum;

}

.semibold{
    font-family: opensans-semibold !important;
}

.bold{
    font-family: opensans-bold;
}

.lh-16{
    line-height: 16px;
}

.lh-22{
    line-height: 22px;
}

.lh-28{
    line-height: 28px;
}

.lh-36{
    line-height: 36px;
}

.lh-44{
    line-height: 44px;
}

.flex{
    display: flex;
}

.c-gap-10{
    column-gap: 10px;
}

.f-left{
    float: left;
}

.color-3 {
    color: #373737;
}

.color-5 {
    color: #575757;
}

.color-1 {
    color: #111111;
}

.color-f{
    color: #fff;
}

.color-b{
    color: #00a4df;
}

.err-text{
    color: red;
    font-size: 14px;
    margin-left: 4px;
}

.err-field{
    border-color: red !important;
}

.top-10{
    margin-top: 10px;
}

.top-15{
    margin-top: 15px;
}

.top-20{
    margin-top: 20px;
}

.top-30{
    margin-top: 30px;
}

.f-12{
    font-size: 12px;
}

.f-14{
    font-size: 14px;
}


.f-18{
    font-size: 18px;
}

.f-22{
    font-size: 22px;
}

.f-20{
    font-size: 20px;
}

.f-32{
    font-size: 32px;
}

.f-36{
    font-size: 36px;
}

.w-100{
    width: 100%;
}

.required-field{
    font-family: Notosan-bold;
    color: rgb(223, 29, 29);
}

.yellow-text{
    color: #ffb32c !important;
}

.yellow-bg{
    background-color: #ffb32c !important;
}

.popup{
    height: 100vh;
    width: 100vw;
    background-color: #11111180;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.margin-header{
    padding-top: 64px;
}


