@media(min-width: 1250px){
    .e-container{
        width: 1200px;
        margin: 0 auto;
    }
}

@media(max-width: 767px){
    
    .pc-mode{
        display: none;
    }

    .mobile-mode{
        display: block !important;
    }

    .e-container{
        width: 100%;
        margin: 0 auto;
    }

    .s-main{
        flex-direction: column;
        row-gap: 24px;
        justify-content: center;
        align-items: center;
    }

    .s-main_leftside{
        
    }

    .s-main_rightside{
        height: 300px;
    }
    .section1{
        height: 1000px !important;
    }
    .s2-progress{
        height: 365px !important;
    }
    .impressive-item .title{
        text-align: center;
    }

    .s-sec2-content{
        grid-template-columns: auto auto !important;
        width: 90% !important;
        height: 950px !important;
    }

    .section2{
        height: 1800px !important;
    }

    .cc-item-footer{
        column-gap: 20px !important;

    }
    .s3-p2-container{
        flex-direction: column !important;
        align-items: center;
    }

    .section3{
        height: 3000px !important;
    }

    .s3-p2-item{
        width: 300px !important;
    }

    .see-more-btn__s3{
        left: 105px !important;
    }

    .section4 .e-container{
        flex-direction: column;
    }
    
    .section4{
        height: 900px !important;
    }

    .section5 .e-container{
        flex-direction: column-reverse;
        row-gap: 50px;
    }

    .s5-right-side > div{
        max-width: 450px;
    }

    .section5 .s5-left-side{
        width: 500px !important;
        margin-left: 12%;
    }

    .section5 {
        height: 900px !important;
    }

    .f-copyright{
        position: absolute;
        bottom: 10px;
    }
}

@media(max-width: 480px){
    .e-container{
        width: 300px;
    }

    .s2-p2-contaner{
        flex-direction: column;
    }

    .s2-progress{
        height: 180px !important;
    }

    .section2-main-item .section2-main-item__text{
        text-align: center;
    }

    .section1{
        height: 1350px !important;
    }

    .section1 .s-main_title{
        font-size: 36px;
    }

    .section1 .see-more-btn{
        width: 100%;
    }

    .section1 .s-main_rightside{
        height: 180px;
    }

    .section1 .s-impressive{
        font-size: 24px;
    }

    .section1 .s-impressive-main{
        flex-direction: column;
        row-gap: 10px;
    }

    .s-sec2-content{
        grid-template-columns: auto !important;
        left: 0 !important;
        margin-left: 0 !important;
        height: 1900px !important;
    }

    .section2{
        height: 2300px !important;
    }

    .section2 .section2-part2{
        display: none;
    }
    
    .el-carousel__container{
        height: 360px !important;
    }

    .cc-item-footer{
        font-size: 14px !important;
    }
    .el-carousel--horizontal{
        height: 420px;
        margin-top: 20px;
    }

    .section3{
        height: 3200px !important;
    }

    .section4{
        height: 1050px !important;
    }
    
    .s4-right-side{
        height: 200px !important;
        width: 300px !important;
    }

    .s5-right-side div {
        left: 0 !important;
    }

    .s5-right-side input{
        max-width: 300px !important;
        margin-left: 0 !important;
    }
    .e-subject{
        width: 324px !important;
        margin-left: 0 !important;
    }

    .leave-inf-area > button{
        left: 12px !important;
    }

    .section5 .s5-left-side{
        width: 290px !important;
        height: 180px !important;
        margin-left: 4%;
    }

    .section5{
        height: 760px !important;
    }

    .s-footer{
        height: 1245px !important;
    }

    .main-content{
        display: block !important;
    }

    .main-content-item:nth-child(3) {
        height: 60% !important;
    }

    .e-trial-fixed{
        height: 75px !important;
        width: 75px !important;
    }

    .s3-p2-item__header{
        width: calc(100% - 40px) !important;
    }
}

@media(max-width: 360px){
    .s5-right-side input{
        max-width: 270px !important;
        margin-left: 0 !important;
    }
    .e-subject{
        width: 294px !important;
        margin-left: 0 !important;
    }
    .leave-inf-area > button{
        left: 0px !important;
    }

    .section5 .s5-left-side{
        width: 290px !important;
        height: 180px !important;
        margin-left: 1%;
    }
}